.contacts__box {
  display: flex;
  background-color: #010101;
}

.contacts__link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 19px;
  width: 50%;
  justify-content: center;
  padding: 60px 0;
}

.contacts__link:nth-child(1) {
  border-right: 1px solid #979797;
}

.contacts__text {
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #fff;
}

.footer {
  background-color: #010101;
  border-top: 1px solid #979797;
  padding-top: 80px;
  padding-bottom: 45px;
  flex-grow: 1;
}

.footer__nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.footer__nav-box {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.footer__nav-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  line-height: 23px;
  margin: 0;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__nav-item {
  display: flex;
}

.footer__nav-link {
  font-size: 14px;
  font-weight: 400;
  color: #ffffffcc;
  line-height: 23px;
  max-width: 228px;
}

.footer__nav-contact {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__nav-text {
  font-size: 11px;
  font-weight: 400;
  color: #ffffff99;
  line-height: 23px;
}

.footer__nav-contact {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 23px;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__social-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__social-list {
  display: flex;
  gap: 12px;
}

.footer__social-icon {
  display: flex;
}

.footer__social-logo {
  object-fit: contain;
}

.footer__logo-link {
  position: relative;
  right: 10px;
}

.company__name {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff80;
  line-height: 23px;
}

.icorp__link {
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  line-height: 23px;
}